- content_for :head, auto_discovery_link_tag(:atom, articles_url(format: :atom)), class: "feeder"
%h1 All Articles
#tag_cloud
  - tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class|
    = link_to tag.name, tag_path(tag.name), class: css_class
%section
  .flickr_pagination
    = will_paginate @articles
  - @articles.each do |article|
    %article
      %h2
        = link_to article.title, article, class: "art-heading"
      %div
        %p
          %div.clearfix
            %span.art-meta
              = article.created_at.to_formatted_s
            %span.art-meta
              - if article.user.try(:personal)
                = image_tag article.user.personal.pic_url(:thumb), alt: "profile"
                = link_to article.user.personal.name, personal_path(article.user.personal)
              - else
                = "Anonymous"
        = image_tag article.articlecon, alt: "articleimage", class: "articlecon", width: 70, height: 70 unless article.articlecon.file.nil?
        = simple_format(article.body.truncate(600))
        = raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
  .flickr_pagination
    = will_paginate @articles
