- provide(:title, @article.title)
%h1.art-head
  = @article.title
%article
  %span.art-meta
    = @article.created_at.to_formatted_s
  %span.art-meta
    - if @article.user.try(:personal)
      = image_tag @article.user.personal.pic_url(:thumb), alt: "Profile"
      = link_to @article.user.personal.name, personal_path(@article.user.personal)
    - else
      = "Anonymous"
  = image_tag @article.articlecon, alt: "articleimage", class: "articlecon", width: 70, height: 70 unless @article.articlecon.file.nil?
  = raw(@article.body)
  .tag-list
    Tags:
    = raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
  - if user_signed_in? && is_author? && @article.user == current_user
    = link_to :edit, edit_article_path(@article), class: "btn btn-primary btn-sm"
    = link_to :delete, @article, method: :delete,data: {confirm: "Are you sure to delete"}, class: "btn btn-danger btn-sm"
  .comments#comment
    %h3 Comments
    = render "comment"
  = will_paginate @comments
  = form_for([@article, @article.comments.build], remote: true) do |f|
    %p
      = f.label "post comment"
      = f.text_area :body, class: "form-control", required: true
    %p
      = f.submit "Submit", class: "btn btn-primary"
