- provide(:title, @article.title)
%h1.art-head
  = @article.title
%article
  %span.art-meta
    = @article.created_at.to_formatted_s
  %span.art-meta
    - if @article.user.try(:personal)
      = @article.user.personal.name
    - else
      = "Anonymous"
  = raw(@article.body)
  .comments
    %h3 Comments
    - @comments.each do |comment|
      .comment
        - if comment.user.try(:personal)
          %span.white-col #{comment.user.personal.name} :
        - else
          %span.white-col Anonymous :
        = comment.body
        .time
          = time_ago_in_words(comment.created_at) + " ago"
        - if comment.user == current_user || @article.user == current_user
          = link_to :delete, article_comment_path(@article.id, comment.id), method: :delete, data: {confirm: "Are you sure to delete comment"}
  = will_paginate @comments
  = form_for([@article, @article.comments.build]) do |f|
    %p
      = f.label "post comment"
      = f.text_area :body, class: "form-control", required: true
    %p
      = f.submit "Submit", class: "btn btn-primary"
