-#***************************************************************************#
-#   Created by : Sourav Moitra                                              #
-#   email : astrosourav@gmail.com                                           #
-#   License : The MIT License (MIT)                                         #
-#   Date : October 5th 2014                                                 #
-#***************************************************************************#
%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} BlogPress
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      = form_tag search_path, method: :get, class: "navbar-form navbar-left search-left", role: "search" do
        .form-group
          = text_field_tag :search, params[:search], class: "form-control", placeholder: "search"
        = submit_tag "Search", :name => nil, class: "btn btn-default"
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in? && is_author?
          %li
            = link_to "New article", new_article_path
        %li
          = link_to image_tag("feed.png"), articles_url(format: :atom)
        %li
          %a{:href => "https://www.github.com/SouravMoitra/blogpress"} Github
        %li
          %a{:href => "/contact"} Contact
        %li
          %a{:href => "/about"} About
        - if user_signed_in?
          %li
            = link_to "Edit pass", edit_user_registration_path
          %li
            = link_to "Sign out",  destroy_user_session_path, method: "delete", data: {confirm: "Are you sure to sign out ?"}
        - else
          %li
            = link_to "Sign up", new_user_registration_path
          %li
            = link_to "Sign in", new_user_session_path
